<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- use Spring default values -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
  <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
	
	<logger name="it.snakebyte.test" level="trace"/>
	
	<logger name="org.springframework" level="debug" />
	
	<root level="info">
		<appender-ref ref="CONSOLE" />
  	<appender-ref ref="FILE" />
	</root>

</configuration>