version: '3'

services:

  auth-server:
     container_name: auth-server
     image: snakebyte/auth-server:1.0
     volumes: 
       - "./auth-server:/etc/auth-server"
     ports:
       - "8081:8080"
       
  resource:
     container_name: resource
     image: snakebyte/resource:1.0
     volumes: 
       - "./resource:/etc/resource"
     ports:
       - "8080:8080"

  sub-resource:
     container_name: sub-resource
     image: snakebyte/sub-resource:1.0
     volumes: 
       - "./sub-resource:/etc/sub-resource"
     ports:
       - "8082:8080"

